.App {
  text-align: center;
}

#chat {
  position:fixed;
  float: bottom;
  bottom: 30px;
  right: 52px;
  height: 30px;
  border-color: black;
  border-radius:10px;
  background-color: aqua;

}

.a {
  position:fixed;
  float: bottom;
  bottom: 30px;
  right: 4px;
  height: 35px;
  border-color: black;
  border-radius:10px;
  background-color: aqua;
}
.b {
  position:fixed;
  float: bottom;
  bottom: 0px;
  right: 75px;
  height: 29px;
  border-color: black;
  border-radius:10px;
  background-color: aqua;
}
